body {
    font-size: 12px;
    font-family: Verdana;
    font-weight: normal;
    font-style: normal;
}

div {
    overflow: hidden;
}

#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

    #selectable li {
        margin: 3px;
        padding: 0.4em;
    }

        #selectable li:hover {
            background-color: gray;
            color: white;
        }

    #selectable .ui-selecting {
        background: #EEEEF2;
    }

    #selectable .ui-selected {
        background: #3399FF;
        color: white;
    }

.icon {
    font-family: 'Segoe UI Symbol';
}

chat {
    font-family: 'Segoe UI Symbol';
    content: '';
}

#flash {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5000;
    width: 100%;
    height: 500px;
    background-color: #c00;
    display: none;
}
